@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Anybody", sans-serif;
    background-color: #dfdfd8;
}

img {
    width: 100%;
}

.container {
    width: min(90%, 1120px);
    margin-inline: auto;
}

header {
    background-color: #fafaf6;
    height: 4.5rem;
    position:sticky;
    top: 0;
    width: 100%;
}

.desktop-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menus-links {
    display: flex;
    gap: 20px;
}

.menus-links li {
    list-style: none;
}

.menus-links li a {
    text-decoration: none;
    /* padding: 15px; */
    font-size: 1.25rem;
    font-weight: 500;
    color: #2b2b2b;
}

.menus-links li a:hover {
    color: #5f6ad4;
}

.desktop-menu h1 {
    font-size: 1.5625rem;
    font-weight: 700;
    color: #5f6ad4;
}

.hamburger {
    display: none;
}

.mobile-menu {
    display: none;
}

.mobile-menu-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.btn-primary, .btn-secondary {
    display: inline-block;
    background-color: #5f6ad4;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid white;
}

.hero {
    height: calc(100vh - 4.5rem);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
     url("https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-min-an-1234035.jpg") center/cover no-repeat;
    display: flex;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero h1 {
    font-size: 5rem;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.btn {
    background-color: #5f6ad4;
    padding: 0.9375rem 3.75rem;
    font-size: 1.25rem;
    color: white;
    border: none;
    border-radius: 0.635rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #fafaf6;
    color: black;
}

.yoga {

    /* height: 600px; */
    height: 90vh;
    background: linear-gradient(rgba(178, 173, 173, 0.6), rgba(155, 153, 153, 0.6)),
    url("https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-lucas-pezeta-2121066.jpg");
    margin-top: 6rem;
    border-radius: 25px;

    display: flex;
    align-items: flex-end;
    /* justify-content: center; */
}

.yoga .content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 728px;
    margin-inline: auto;
    margin-bottom: 7rem;
    
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
    max-width: 728px; */
    
}

.yoga .content h1 {
    font-size: 3.125rem;
    font-weight: 700;
    text-align: center;
}

.yoga .content p {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.info-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    margin-block:  6rem;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: flex-start; */
}
.box img {
    height: 306px;
    border-radius: 15px;
}

.box h1 {
    font-size: 1.5625rem;
    color: #2b2b2b;
}

.box p {
    color: #646464;
    font-size: 1.25rem;
}

.prefect-condition {
    height: 438px;
    background: linear-gradient(rgba(178, 173, 173, 0.6), rgba(155, 153, 153, 0.6)),
    url("https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-andrea-piacquadio-3779750.jpeg") center/cover no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-block:  2rem;
}

.prefect-condition .container {
}

.prefect-condition h2 {
    color: #2b2b2b;
    font-size: 3.125rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.prefect-condition p {
    color: #2b2b2b;
    font-size: 1.25rem;
    font-weight: 400;
}

.yoga-classes {
    height: 355px;
    background: linear-gradient(rgba(178, 173, 173, 0.6), rgba(155, 153, 153, 0.6)),
    url("https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-lucas-pezeta-2985098.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
    margin-block: 5rem;
}

.yoga-box {
    height: 50%;
    border-radius: 10px;
    border: 2px solid #5f6ad4;
    background-color: #dfdfd8;
    /* padding: 40px 30px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

footer {
    /* height: 88px; */
    background-color: #2b2b2b;
    color: white;
    padding: 2rem;
    /* display: flex;
    align-items: center; */
}
/*  tablet & mobile*/
@media(max-width: 768px) {

    .desktop-menu {
        display: none;
    }

    header {
        height: 0;
    }

    i {
        z-index: 11111;
    }
    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5f6ad4;
        color: white;
        /* padding: 15px; */
        width: 50px;
        height: 50px;
        position: absolute;
        top: 7%;
        right: 7%;
        border-radius: 50%;
        font-size: 2rem;
    }

    .mobile-menu  {
        display: flex;
        justify-content: center;
        background-color: #2b2b2b;
        color: white;
        position: fixed;
        inset: 0 0 0 0;
        transform: translatex(0%);
        transition: transform 300ms ease-in-out;
    }

    .mobile-menu[data-visible="false"] {
        transform: translatex(100%);
    }

    .hamburger i[data-visible="true"] {
        display: block;
    }

    .hamburger i[data-visible="false"] {
        display: none;
    }

    .mobile-menu .navigation {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        
        width: 100%;
    }

    .mobile-menu .navigation .menus-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-menu h1 {
        font-size: 2,3125rem;
        font-weight: 700;
        border-bottom: 1px solid white;
        padding: 10px;
        
    }

    .mobile-menu a {
        color: white !important;
    }

    /* .mobile-menu .navigation .menus-links li a {
        color: white;
    } */

    .hero {
        height: 100vh;
    }

    .hero h1 {
        font-size: 3.0625rem;
        font-weight: 400;
    }

    .yoga .content {
        margin-bottom: 2rem;
    }

    .yoga .content h1 {
        font-size: 2.125rem;
    }

    .yoga .content p {
        padding: 1rem;
        font-size: 1.3125rem;
    }

    .info-box {
        grid-template-columns: 1fr;
    }

    .prefect-condition h2 {
    font-size: 2.125rem;
}

.prefect-condition p {
    font-size: 1.125rem;

}

.yoga-box{
    height: 70%;
    flex-direction: column;
}

.yoga-box h2 {
    font-size: 1.3125rem;
    font-weight: 400;
    padding: 1rem;
}

}